#title{
  background-color: #ff4c68;
}

body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#title{
  color: #fff;
}

/* Container */

.container-fluid{
  padding: 3% 15%;
}


/* Section */
.white-section{
  background-color: #fff;

}
.colored-section{
  background-color: #ef8172;
  color: #fff;
}


h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;

}

p{
  font-family: 'Montserrat', sans-serif;
  color: #8f8f8f;
  font-weight: 500;
}
/* Navigation Bar */
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item{
  padding-left: 18px;
}
.nav-link{
  font-size: 1.0rem;
  font-weight: 300;
}
.content{
  text-align: left;
}
/* Download Button */

.download-button{
  margin: 5% 3% 5% 5%;
  text-align: left;
  justify-content: space-evenly;
}

/* Title Image */
.title-image{
  width: 20%;
  transform: rotate(20deg);
  position: absolute;
}


#features{
  padding: 10%;
  color: #000;text-align: center;
  
  position: relative;
  z-index: 1;
}

.item{
  padding: 5%;
}
.icon{
  color: #ef8172;
  font-size: 3rem;
  cursor: pointer;
}
.icon:hover{
  color: #ff4c68;
}
.item-title{
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 20px auto;
}
.item-content{
  color: #8f8f8f;
}


/* Testimonials Section */

#testimonials{
  background-color: #ef8172;
  
}
.testimonials-image{
  width: 10%;
  border-radius: 50%;
  margin: 15px;
}


#press{
  padding: 1% 15%;
  background-color: #ef8172;
}

.press-logo{
  width: 20%;
  margin: 20px 20px 50px;
}


/* Pricing Test */
#pricing{
  padding: 7% 5%;
  justify-content: space-evenly;
}

.card{
  width: 24rem;
  padding: 0;
  margin-top: 30px;
}

.btn-card{
  width: 100%;
}

.card-header{
  height: 60px;
  padding: 20px ;
  align-items: center;
  
}

@media (max-width: 1028px){
  #title{
  }
  .title-image{
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}

#cta{
  background-color: #ff4c68;
  padding: 7% 20%;
  font-family: 'Montserrat';
}
.cta-h3{
  font-size: 2.8rem;
  line-height: 70px;
  font-weight: 900;
}
.btn-cta{
  margin: 25px 15px;
  font-size: 1.1rem;
  
}

/* Footer Style */
#footer{
  padding: 7% 15%;
}
.footer-icon
{
  margin: 20px 7px;

}